.app{
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: space-between;
 
}

.app::before{
  
    content: '';
    background: url('../img/sun.jpg') no-repeat center  center/cover;
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

.location {
    padding-left: 25px;
    font-size: 1.6rem;
    font-weight:1200px;
}


.top{
    display:flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.searchbox{
    margin: 50px;
   
    position: relative;
    width: 100%;
  
    
}
.searchbox input{
    
   
    color: #48484a;
    
    font-size: 14px;
  
    padding: 0 8pt!important;
    border: none;
    width: 50%;
    border-radius: 4pt 0 0 4pt;
    height: 24pt;
}

.searchbox button{
     cursor: pointer;
     border-radius: 5px;   
     border-style: none; 
     background-color: #48484a;
     border-color: #48484a;
     color: #f2f2f2;
     border-radius: 0 4pt 4pt 0!important;
     padding: 0 8pt!important;
     height: 24pt;
     
}
.searchbox button:hover{
   
    background-color:darkgrey;
    color: black;
    
}


.Mid{
    margin: 20px;
    width:100% ;
    position: absolute;
    display:flex;
    flex-direction: row;
}

.Mid h1{
    margin-left: 20px;
}
.bottom{
    margin-top: 100px;
    width:100% ;
    text-align: center;
    
    display:flex;
    border-radius: 12px;
    background-color:rgba(255, 255, 255, 0.2) ;
    justify-content: space-evenly;
    font-weight: 700px;
    font-size: 20px;
}


